<!-- <html>
<head>
<title>test</title>
<script language="JavaScript">
function afficherAutre() {
  var a = document.getElementById("autre");
  var m = document.getElementById("mots");
  
  if (document.form1.liste.value == 3)
  {
  	if (a.style.display == "none")
		a.style.display = "block";
 
  	if (m.style.display == "none")
		m.style.display = "block";
  }
  else
  {
  	a.style.display = "none";
	m.style.display = "none";	
  }
}
</script>
</head>

<body>
<form name="form1" method="post" action="">
<p>Choisissez une option : 
    <select name="liste" onChange="afficherAutre()">
        <option value=1>option1</option>
        <option value=2>option2</option>
        <option value=3>Autre</option>
    </select>
    </p>
    <span id=autre style="display: none"> Autre :</span>
    <input type="text" id="mots" name="mots" style="display: none">
</form>
</body>
</html>




 -->